* {
	box-sizing: border-box; 
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	margin: 0;
}

#main {
	display: flex;
	flex: 1 1 auto;
}

.middle {
	flex: 1 1 auto;
/*	padding: 1em;*/
}

.img1 {
/*	padding: 1em;*/
	background: aliceblue;

	display: flex;
	flex: 0 0 35vw;
	width: 35vw;
	max-height: 75vh;
	order: -1;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.img3 {
	padding: 1em;
	background: aliceblue;

	flex: 0 0 22vw;
	width: 22vw;
}

.article {
	padding: 1em;
	height: 42vh;
}

.img2 {
	display: flex;
/*	padding: 1em;*/
	flex: 0 0 43vw;
	width: 43vw;
	height: 33vh;
	background-color: azure;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.image1 {
	max-height: 100%;
	width: auto;
	object-fit: cover;
	transition: transform 0.5s;
}

.image1:hover {
	transform: scale(1.1);
}

.image2 {
	max-width: 100%;
	height: auto;
	object-fit: cover;
	transition: transform 0.5s;
}

.image2:hover {
	transform: scale(1.1);
}

header {
	background-color: lightblue;
	display: flex;
	order: -2;
	height: 15vh;
	padding: 1em;
	transition: transform 0.75s;
	justify-content: center;
	align-items: center;
}

footer {
	background-color: lightblue;
	display: flex;
	height: 10vh;
	padding: 1em;
	transition: transform 0.75s;
	justify-content: center;
	align-items: center;
}

header:hover, footer:hover {
	transform: scale(1.25);
}