* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  font-size: 16px;
  height: 100vh;
  overflow: hidden;
  background-image: url("https://img.freepik.com/free-vector/blue-curve-background_53876-113112.jpg");
  background-size: cover;
}
a {
  text-decoration: none;
  color: #333;
}

#header {
  background-color: rgba(255, 255, 255, 0.8);
  color: white;
  text-align: center;
  padding: 0 3em;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  height: 5em;
}
.logo {
  display: inline-flex;
  align-items: center;
}
.header__navbar {
  display: flex;
  gap: 4em;
  height: 100%;
}

.header__navbar--menu--item {
  padding: 0 1em;
  height: 100%;
  display: inline-block;
  font-weight: bold;
  font-size: 1.2em;
  display: inline-flex;
  align-items: center;
}
.header__navbar--menu--item.active {
  background-color: rgb(0, 0, 0, 0.7);
  color: white;
}
.header__navbar--menu--item:hover {
  background-color: rgb(0, 0, 0, 0.7);
  color: white;
}

#content {
  padding: 2em;
  height: calc(100dvh - 5em - 7em);
  max-height: calc(100dvh - 5em - 7em);
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.content__title {
  text-align: center;
  margin-bottom: 1em;
}
.content__para {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  gap: 3em;
  margin: auto;
}
.content__para1 {
  flex: 1 1 max(calc(50% - 1.5em), 600px);
}
.content__para2 {
  flex: 1 1 max(calc(50% - 1.5em), 600px);
}

.content__para--image {
  width: min(100%, 40em);
  height: auto;
  margin: 1em;
  border-radius: 10px;
}

.description-text {
  text-align: justify;
  margin-top: 1em;
}

#footer {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 0 3em;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  height: 7em;
  color: #f4f4f4;
  display: flex;
  flex-direction: column;
}
.footer-nav {
  display: flex;
  justify-content: center;
  gap: 2em;
  flex: 1;
}

.footer-nav--item {
  font-weight: bold;
  font-size: 1.2em;
  display: inline-flex;
  align-items: center;
  color: #f4f4f4;
  text-transform: uppercase;
}
.footer-noti {
  padding: 0.5em;
}