* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Playfair", sans-serif;
  background-color: #FAE4D9;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  font-size: 17px;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
}

a {
  text-decoration: none;
  color: #333;
}

#header {
  background-color: rgba(255, 255, 255, 0.8);
  color: white;
  text-align: center;
  padding: 0 3em;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  height: 5em;
}

.logo {
  display: inline-flex;
  align-items: center;
}

.header__navbar {
  display: flex;
  gap: 4em;
  height: 100%;
}

.header__navbar--menu--item {
  padding: 0 1em;
  height: 100%;
  display: inline-block;
  font-weight: bold;
  font-size: 1.2em;
  display: inline-flex;
  align-items: center;
}

.header__navbar--menu--item.active {
  background-color: rgb(0, 0, 0, 0.7);
  color: white;
}

.header__navbar--menu--item:hover {
  background-color: rgb(0, 0, 0, 0.7);
  color: white;
}

.header__navbar--logo {
  border-radius: 50%;
}

#content {
  padding: 20px;
  height: calc(100dvh - 5em - 7em);
  max-height: calc(100dvh - 5em - 7em);
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.content__title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 25px;
  font-weight: 600;
  font-family: "Lora", sans-serif;
}

.content__para {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  gap: 3em;
}

.content__para1 {
  flex: 1 1 max(calc(50% - 1.5em), 600px);
}

.content__para2 {
  flex: 1 1 max(calc(50% - 1.5em), 600px);
}

.content__para--image {
  width: min(100%, 40em);
  height: auto;
  margin: 15px;
  border-radius: 10px;
}

.description-text1 {
  text-align: justify;
  margin-top: 20px;
  
}

.description-text2 {
  text-align: justify;
  margin-bottom: 20px;
}

.description-title1 {
  text-align: center;
  margin-top: 10px;
}

.description-title2 {
  text-align: center;
  margin-bottom: 15px;
}

#footer {
  position: absolute; /* Position absolute to stick to the bottom */
  bottom: 0; /* Align to the bottom */
  left: 0; /* Align to the left */
  right: 0; /* Align to the right */
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding: 0.5em 1em;
  color: #f4f4f4;
}
.footer-nav {
  display: flex;
  justify-content: center;
  gap: 2em;
  flex: 1;
}

.footer-nav--item {
  font-weight: bold;
  font-size: 1.2em;
  display: inline-flex;
  align-items: center;
  color: #f4f4f4;
  text-transform: uppercase;
}

.footer-noti {
  padding: 0.2em;
}