* {
	box-sizing: border-box; 
}

/*// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900*/

/*.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/

body {
	display: flex;
	min-height: 100vh;
	flex-direction: row;
	margin: 0;
	flex: 1 1 100vw;
	background-image: linear-gradient(to bottom right, #c3a374, #c3a374);
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

p {
	z-index: 2;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

.navleft {
	display: flex;
	width: 50px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(59, 59, 59, .2);
	z-index: 5;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity .5s;
}

.navleft:hover {
	opacity: 1;
}

.navright {
	display: flex;
	width: 50px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(59, 59, 59, .2);
	z-index: 5;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity .5s;
}

.navright:hover {
	opacity: 1;
}

/* From Uiverse.io by cssbuttons-io */ 
button {
	display: flex;
	width: 100%;
	height: 50px;
/*	padding: 1.3em 3em;*/
	/*font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;*/
/*	color: #000;*/
/*	background-color: #fff;*/
	background: none;
	border: none;
	border-radius: 25px;
/*	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);*/
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
	justify-content: center;
	align-items: center;
}

button:hover {
	background-color: #23c483;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, .2);
	color: #fff;
	transform: translateY(-7px);
}

button:active {
	transform: translateY(-1px);
}

.navimg {
	width: 150%;
	height: 100%;
}

.column1 {
	display: flex;
	flex: 0 0 87.5vw;
	flex-direction: column;
	height: 100vh;
	min-width: 87.5vw;
/*	background-color: #4895ef;*/
}

.row1 {
	display: flex;
	flex: 0 0 75vh;
	flex-direction: row;
	height: 75vh;
	min-width: 87.5vw;
/*	background-color: #7678ed;*/
}

.scrtext-container {
	/*display: flex;
	flex: 0 0 25vw;*/
	height: 100%;
	width: 25vw;
/*	background-color: #3a0ca3;*/
	padding: 15px;
	transition: width 1.0s;
	pointer-events: none;

	animation: fadein 1.0s;
	animation-fill-mode: both;
	animation-delay: 0.1s;
}

.scrtext {
	width: 100%;
	height: 100%;
	background-color: #e4ccab ;
	border-radius: 20px;
	padding: 0px 15px 15px 15px;
	overflow: scroll;
	text-align: justify;
	text-justify: inter-word;
	color: #a49783 ;
	pointer-events: auto;
	font-family: "Playfair Display", serif;
	font-size: 18px;
	border-style: solid;
	border-color: #141516;
}

.headline {
	color:#931c19;
	font-size: 20px;
	font-family: "Playfair Display", serif;
}

.scrtext p {
	-webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
    transition: color 1s; /* For modern browsers */
}

.scrtext p:hover {
	color: #1e1e1c;
}

.scrtext::-webkit-scrollbar {
	display: none;
}

.scrtext {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.scrtext-container:hover {
	width: 50vw;
}

.imgchinh-container {
/*	display: flex;*/
/*	flex: 0 0 62.5vw;*/
	flex-grow: 1;
/*	height: 100%;*/
/*	width: 62.5vw;*/
/*	background-color: #a3b18a;*/
	padding: 15px;

	animation: fadein 1.0s;
	animation-fill-mode: both;
/*	animation-delay: 0.1s;*/
}

.imgchinh-container2 {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	background-color: #e9edc9;
	overflow: hidden;
}

.imgchinh {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.5s;
}

.imgchinh:hover {
	transform: scale(1.1);
}

.row2 {
	display: flex;
	flex: 0 0 25vh;
	flex-direction: row;
	height: 25vh;
	width: 87.5vw;
/*	background-color: #bde0fe;*/
}

.imgphu-container {
	display: flex;
	flex: 0 0 25vw;
	height: 100%;
	width: 25vw;
/*	background-color: #caf0f8;*/
	padding: 15px;

	animation: fadein 1.0s;
	animation-fill-mode: both;
	animation-delay: 0.2s;
}

.imgphu-container2 {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	background-color: #dad7cd;
	overflow: hidden;
}

.imgphu {
	/*width: 100%;
	max-height: 100%;*/
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.5s;
}

.imgphu:hover {
	transform: scale(1.1);
}

.quote {
	display: flex;
	flex: 0 0 62.5vw;
	height: 100%;
	width: 62.5vw;
/*	background-color: #b0c4b1;*/
	padding: 15px;

	animation: fadein 1.0s;
	animation-fill-mode: both;
	animation-delay: 0.1s;
}

.quote-container {
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 20px;
/*	background-color: #588157;*/
	overflow: hidden;
	color: white;
	justify-content: center;
	align-items: center;
	padding: 15px;
}

.quote-bg {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url('img/chienthang.jpg');
	background-size: cover;
	background-position: center;
	filter: brightness(0.5);
	width: 100%;
	height: 100%;
}

.column2 {
	display: flex;
	flex: 0 0 12.5vw;
	flex-direction: column;
	height: 100vh;
	width: 12.5vw;
/*	background-color: #a8dadc;*/
	padding: 15px;
}

.iconic-container {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	background-color: #dad7cd;
	overflow: hidden;

	animation: fadein 1.0s;
	animation-fill-mode: both;
	animation-delay: 0.3s;
}

.imgiconic {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.5s;
}

.imgiconic:hover {
	transform: scale(1.1);
}

